* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

header {
  position: sticky;
  top: 0;
  display: flex;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  background-color: #3e3c3c;
  color: white;
  font-family: "Inter", sans-serif;
  font-style: normal;
}

header #logo-title {
  font-size: 1.25rem;
  font-weight: 700;
  text-decoration: none;
  margin-right: 150px;
  color: white;
}

.nav-links {
  display: none;
}

.about-tech-list li {
  font-family: "Inter", sans-serif;
  list-style-type: none;
  text-align: center;
  font-size: 22px;
  line-height: 43px;
}

.card-tags li {
  padding: 6px;
  border: 1px solid gray;
  list-style-type: none;
}

.nav-links ul li {
  display: inline;
  list-style-type: none;
  padding: 10px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 0.938rem;
  font-weight: 600;
}

.nav-links a:hover {
  color: #fff5e1;
}

.nav-links a:active {
  color: #e05304;
}

.headline-section {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  max-width: 100%;
  background-color: #1c1a19;
  color: white;
}

.header-intro {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 566px;
  gap: 15px;
}

.headline-img {
  max-width: 1003.13px;
  max-height: 769.27px;
}

.social-icons ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 36px;
}

.social-icons ul li {
  list-style-type: none;
}

.header-intro h1 {
  color: #f55800;
  font-family: "Crete Round", serif;
  font-weight: 400;
  line-height: 82px;
  font-size: 72px;
}

.header-intro .sub-title {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
}

.header-intro p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #f4f5f7;
  padding-left: 70px;
  padding-right: 40px;
}

/* Mobile First -mobile for middle section */
.work-section {
  padding: 120px 24px;
}

.work-section h2,
hr {
  text-align: center;
}

.about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 100px;
  background-color: #1c1a19;
  color: white;
  padding-top: 120px;
  width: 100%;
}

.about-content-desc h2 {
  font-family: "Crete Round", serif;
  font-weight: 400;
  font-size: 72px;
  line-height: 88px;
  color: #ff6b00;
  padding: 0 24px;
}

.about-content-desc p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #f4f5f7;
  padding: 24px 24px;
}

.about-content-desc button {
  margin-left: 24px;
}

.about-illustration {
  float: right;
  padding-right: 0;
}

.about-illustration-desktop {
  display: none;
}

.about-section hr {
  width: 100%;
}

.about-tech-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 130px 0;
  gap: 20px;
}

.about-tech-list h4 {
  font-weight: 700;
  font-size: 32px;
  line-height: 49px;
}

.about-content-desc ul {
  width: 100%;
  text-align: center;
}

.list-bullet {
  padding-right: 12px;
}

.work-section h2 {
  font-family: "Crete Round", serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 52px;
  margin-bottom: 24px;
}

.work-card-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto;
  gap: 24px;
  margin-top: 80px;
}

.work-card-item {
  background-image: url("images/works-images/carditem-img.png");
  background-position: center;
  max-height: 435px;
  padding-top: 84px;
  color: white;
}

.work-title-desktop {
  display: none;
}

.work-card-item h4 {
  font-family: "Crete Round", serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  padding-left: 16px;
  padding-right: 16px;
}

.work-card-item p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding: 12px 16px;
}

#first-card-img {
  background-image: url("images/works-images/ImgPlaceholder-mobile.png");
  background-repeat: no-repeat;
  background-position: center;
  min-height: 237px;
  margin-bottom: 12px;
}

.first-card-desc {
  color: #091e42;
}

.first-card-desc h4 {
  font-family: "Crete Round", serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
}

.first-card-desc p {
  font-family: "Inter", sans-serif;
  line-height: 24px;
  font-size: 16px;
  font-weight: 400;
  padding: 12px 0;
}

.card-tags {
  display: flex;
  justify-content: space-between;
  padding-bottom: 12px;
}

.common-btn {
  padding: 12px;
  color: white;
  background-color: #f55800;
  border: none;
}

.project-btn {
  padding: 12px;
  color: white;
  background-color: #f55800;
  border: none;
  width: 100%;
}

.common-btn:hover {
  background-color: #fff5e1;
  color: #f55800;
  border: 1px solid #f55800;
}

.common-btn:active {
  color: white;
  background-color: #e05304;
}

.common-btn:disabled {
  background-color: #f4f1f0;
  color: #5b5957;
}

.project-btn:hover {
  background-color: #fff5e1;
  color: #f55800;
  border: 1px solid #f55800;
}

.project-btn:active {
  color: white;
  background-color: #e05304;
}

.project-btn:disabled {
  background-color: #f4f1f0;
  color: #5b5957;
}

/* contact-form */
.form-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 120px 24px;
}

.form-section h3 {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #172b4d;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  min-width: 100%;
}

.contact-form input {
  border: none;
  border-bottom: 1px solid #dbd8d7;
  min-width: 100%;
  padding: 10px;
  font-size: 15px;
  line-height: 24px;
  font-family: 'Inter', sans-serif;
}

.contact-form textarea {
  min-width: 100%;
  border: none;
  background-color: #fbf8f7;
  padding: 12px;
  font-family: 'Inter', sans-serif;
  font-weight: 400px;
  font-size: 15px;
  line-height: 24px;
  color: #3c3a39;
}

/* Footer section social icons */
.footer-social-icons {
  border-top: 1px solid #dfe1e6;
  padding: 25px 100px;
}

.footer-social-icons ul {
  display: flex;
}

.footer-social-icons ul li {
  list-style-type: none;
}

/* desktop version */
@media screen and (min-width: 768px) {
  .nav-links {
    display: flex;
    justify-content: space-between;
    padding: 2px;
  }

  header #logo-title {
    margin-right: 350px;
  }

  #toggle-btn {
    display: none;
  }

  .work-section {
    margin-left: 38px;
    margin-right: 38px;
  }

  .work-section h2 {
    float: left;
    margin-right: 0;
  }

  .work-section hr {
    float: right;
    width: 70%;
    margin-top: 30px;
    background-color: #212121;
  }

  .work-card-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 24px;
    column-gap: 37px;
    margin-top: 140px;
  }

  .work-card-container .first-card {
    grid-column: 1/span 3;
    display: flex;
    gap: 24px;
    align-items: flex-start;
  }

  #first-card-img {
    background-image: url("images/works-images/ImgPlaceholder-desktop.svg");
    background-repeat: no-repeat;
    background-position: center;
    min-width: 55%;
    min-height: 448px;
  }

  .first-card-desc {
    padding-right: 99px;
  }

  .first-card-desc h4 {
    font-size: 40px;
  }

  .first-card-desc p {
    font-size: 20px;
  }

  .first-card .card-tags {
    display: flex;
    justify-content: flex-start;
    gap: 12px;
  }

  .first-card .card-tags li {
    margin-left: 0;
    margin-right: 2px;
  }

  #active-card {
    background-image: url("images/works-images/active-card.svg");
    background-repeat: no-repeat;
    background-position: center;
    border: 2px solid black;
    min-height: 435px;
    min-width: 370px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .work-card-item button {
    display: none;
  }

  .contact-form button {
    margin-left: 0;
  }

  #active-card button {
    display: block;
  }

  #active-card h4 {
    display: none;
  }

  #active-card p {
    display: none;
  }

  .work-card-item .card-tags {
    gap: 12px;
    margin-left: 12px;
    margin-right: 0.5rem;
  }

  .work-card-item .card-tags li {
    background: rgba(255, 255, 255, 0.24);
    color: white;
    border: none;
    padding: 10px 12px;
  }

  #active-card .card-tags {
    display: none;
  }

  .card-item4 {
    background-image: url("images/works-images/card-item3-img.svg") !important;
    background-repeat: no-repeat;
    background-position: center;
  }

  #card-item5 {
    background-image: url("images/works-images/card-item4-img.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  .work-card-item {
    background-image: url("images/works-images/card-item2-img.svg");
    background-repeat: no-repeat;
    background-position: center;
    min-height: 435px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
  }

  .work-card-item .work-title-desktop {
    display: block;
  }

  .work-card-item .work-title-mobile {
    display: none;
  }

  .about-content {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 100px;
  }

  .about-content-desc {
    padding: 0 100px;
  }

  .about-illustration {
    display: none;
  }

  .about-illustration-desktop {
    display: block;
  }

  .about-section hr {
    max-width: 80%;
    background-color: white;
  }

  .about-tech-list {
    display: flex;
    flex-direction: row;
    min-width: 100%;
    justify-content: space-between;
  }

  .footer-section .form-section {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 24px;
    padding: 130px 142px;
  }

  .form-section h3 {
    text-align: start;
  }

  .contact-form {
    min-width: 65%;
  }

  .footer-social-icons {
    padding: 1.563rem 33.75rem;
  }

  .footer-social-icons ul {
    display: flex;
    align-items: center;
  }
}

/* mobile version */
@media screen and (max-width: 800px) {
  .headline-section {
    background-image: url("images/Illustration-header-mobile.svg");
    background-position: 230px 310px;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    max-height: 100vh;
    padding: 120px 24px;
    gap: 24px;
  }

  .headline-img {
    display: none;
  }

  .header-intro {
    display: flex;
    flex-direction: column;
    gap: 0;
    padding: 0;
  }

  .header-intro p {
    padding: 0;
  }

  .social-icons {
    margin-left: -4px;
  }

  .social-icons ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0;
    gap: 30px;
  }
}

/* tablet version */
